<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/images/favicon.png">
  
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title %></title>
    
    <%= stylesheet_link_tag "bootstrap" %>
    <%= javascript_include_tag  "all" %>
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	
  </head>
  
  <body>
 <!-- Fixed navbar -->
    <div id="navbar-top" class="navbar navbar-default navbar-fixed-top row" role="navigation">
 
        <div class="container"  >
            <div class="navbar-header right" >

            <a class="navbar-brand" href="/"><img src="/images/logo-pagarme.png" class="logotipo-pagarme"></a>
            <div class="container-fluid">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-example-js-navbar-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
           </div><!-- /.container-fluid -->
           </div>

        <div class="navbar-collapse collapse navbar-collapse bs-example-js-navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right navbar-collapse bs-example-js-navbar-scrollspy collapse in" data-spy="scroll" data-target=".navbar-example">
            <li><a href="index.html">Home</a></li>
            <li class="active"><a href="template-article.html">Dashboard</a></li>
            <li><a href="template-article.html">Documentação</a></li>
          </ul>
        </div><!--/.nav-collapse -->




      </div>
    </div>    


    <div class="wrapper-banner-search">
      <div class="container">
        <input type="text" class="form-control master-search" placeholder="Palavra-chave">
        <p><span>Exemplos:</span> Recorrência, pagamentos, como cancelar um pagamento?</p>
      </div>
    </div>




    <nav class="navbar nav-bar-white" role="navigation">
      <div class="container">


        <div class="navbar-collapse" id="">


          <ul class="nav nav-tabs list-inline">
            <li class="active"><div class="tab-tooth"></div><a href="#">Home</a></li>
            <li ><div class="tab-tooth"><a href="#"></div>Quickstarts</a></li>
            <li ><div class="tab-tooth"></div><a href="#">How to's</a></li>
            <li ><div class="tab-tooth"></div><a href="#">API Refs</a></li>
            <li ><div class="tab-tooth"></div><a href="#">FAQ</a></li>
          </ul>
        
        
      </div><!-- /.container-fluid -->
    </nav>

</div>





<div class="wrapper-content-all">
    <div class="container ">
      <div class="row">

          <div class="sidebar-module col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <ol class="list-unstyled">
              <h3> PRIMEIROS PASSOS </h3>
			  <li> <%= link_to "Conseguindo uma chave de API", '/guides/quick_start/getting_started.html'%> </li>
			  <li> <%= link_to "Página de checkout", '/guides/quick_start/checkout.html'%> </li>
			  <li> <%= link_to "Fazendo a primeira transação", '/guides/quick_start/first_transaction.html'%> </li>
			  <li> <%= link_to "Criando sua primeira assinatura", '/guides/quick_start/first_subscription.html'%> </li>

              <h3> CONHECENDO A FUNDO</h3>
			  <li> <%= link_to "Transações", '/guides/how_to/transactions.html'%> </li>
			  <li> <%= link_to "Recorrência", '/guides/how_to/subscriptions.html'%> </li>

              <h3>OUTROS GUIAS </h3>
			  <li> <%= link_to "One-click buy", '/guides/other/oneclickbuy.html'%> </li>
			  <li> <%= link_to "API Reference", '/apif'%> </li>
          </ol>
          </div>
          <div class="article">
				  <%= yield %>
          </div>





        </div>


      </div><!-- /.row -->
    </div><!-- /.container -->
    <footer class="container">

      <ul class="list-inline pull-right">
            <li><a href="#">Documentação</a></li>
            <li><a href="#">Suporte</a></li>
            <li><a href="#">Política de Privacidade</a></li>
            <li><a href="#">Contato</a></li>
            <li><a href="#">©Pagar.me</a></li>
      </ul>

      <img src="/images/icon-pagarme.png" class="icon-pagarme pull-right">
      <img src="/images/icon-pci-gray.gif" class="pci pull-left">
      <p class="pull-left">Em conformidade com as normas internacionais de segurança do PCI DSS.</p>

    </footer>

</div>
  </body>
</html>




